[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BioNetStat"]
	path = BioNetStat
	url = https://github.com/jardimviniciusc/bionetstat
	shallow = true
	registered = true
